.container{
    width: 100%;
    height: 80%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    background-color: aliceblue;
    margin: 50px;
    flex-direction: column;
}

.container-card1{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borda mais escura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff5d;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: row;
    width: 750px;
}

.sprite{
    text-align: center;
    background-color: gainsboro;
    padding: 25px;
    background-color: gainsboro;

}

.card-name-font{
    font-family: "Flexo-Demi", arial, sans-serif;
    color: #313131;
    background-color: gainsboro;

}

.info-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #30a7d7;
    padding: 20px;
    width: 100%;
    p{
        font-family: "Flexo-Medium", arial, sans-serif;
        color: #212121;
        background-color: #30a7d7;
        strong{
            color: #fff;
            background-color: #30a7d7;
        }
    }

    
}
.type-pill {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
  }

.type-bug {
    background-color: #A8B820;
    color: #fff;
  }
  
  .type-dark {
    background-color: #707070;
    color: #fff;
  }
  .type-darkness {
    background-color: #707070;
    color: #fff;
  }
  
  .type-dragon {
    background: linear-gradient(180deg, #7038F8 50%, #f16e57 50%);
    background-color: #7038F8;
    color: #fff;
  }
  
  .type-electric {
    background-color: #eed535;
    color: #212121;
  }
  .type-lightning {
    background-color: #eed535;
    color: #212121;
  }

  

  .type-grass {
    background-color: #9bcc50;
    color: #212121;
  }

  .type-poison {
    background-color: #b97fc9;
    color: #fff;
  }

  .type-fire {
    background-color: #fd7d24;
    color: #fff;
  }

  .type-flying {
    background: linear-gradient(180deg, #b2d6e0 50%, #bdb9b8 50%);
    background-color: #b2d6e0 ;
    color: #212121;
  }

  .type-water{
    background-color: #4592c4;
    color: #fff;
  }
    
  .type-normal{
    background-color: #a4acaf;
    color: #212121;
  }

  .type-ground{
    background-color: #f7de3f;
    color: #212121;
  }

  .type-fairy{
    background-color: #fdb9e9;
    color: #212121;
  }

  .type-fighting{
    background-color: #d56723;
    color: #fff;
  }

  .type-psychic{
    background-color: #f366b9;
    color: #fff;
  }

  .type-rock{
    background-color: #a38c21;
    color: #fff;
  }

  .type-steel{
    background-color: #9eb7b8;
    color: #212121;
  }

  .type-metal{
    background-color: #9eb7b8;
    color: #212121;
  }

  .type-ice{
    background-color: #51c4e7;
    color: #212121;
  }

  .type-ghost{
    background-color: #7b62a3;
    color: #fff;
  }